*{
    padding: 0px;
    margin: 0px;
    
    
    
}

.Home{
    width: 100%;

   
}


   .suggestion_grid{

        display:flex;
       
        justify-content: space-around;

        flex-wrap: wrap;
        gap: 20px;
    margin:  50px auto;
    }
.head-prime{
    padding: 10px;
    margin: 50px;
    text-align: center;
}


@media screen and (min-width: 375px) and (max-width: 600px) {

    .suggestion_grid{

        display:flex;
        flex-direction: column;
        justify-content: space-around;

        flex-wrap: wrap;
          
    margin:  50px auto;
    }
    
}