*{
    padding: 0px;
    margin: 0px;
}


.Navbar{
    display:grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100px;
    background-color: rgb(65, 48, 223);
  

}

.Navbar img{
 
    width: 100px;
    height: 50px;
    object-fit: cover;
    padding: 10px;
    border: 2px white solid;
  
}


.Logo-img{
    display: flex;
      justify-content:center;
      align-items: center;
}

.BookingOptions ul{
    display: flex;
    flex-direction: row;
    gap:100px;
    list-style-type: none;

    
    
}



li{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
}
.BookingOptions{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

}

.Options-Navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.Options-Navbar span{
    margin: auto;
}


.Profile-Navbar ,.Offers-Navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}


p{
    color:white;
}



@media screen and (min-width: 375px) and (max-width: 600px) {

.Navbar{
    display: flex;
    flex-direction: column;

}

.Navbar img{
 
    width: 60px;
    height:30px;
    object-fit: cover;
    padding: 5px;
    margin: 10px;
    border: 2px white solid;
  
}

.Options-Navbar span{
    font-size: smaller;
}


.BookingOptions ul{
    display: flex;
    flex-direction: row;
    gap:40px;
    list-style-type: none;

    
    
}
}