.railResultcomp{
    display: flex;
    width: 70%;
    justify-content: space-around;
    background-color: aliceblue;
    border-radius: 30px;
    padding: 20px;
    margin: 50px auto;
}
.Identity_Name_compR{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.Identity_compR{
    display: flex;
    padding: 10px;
}

.Name_compR{
    display: flex;
    padding: 10px;
}

.classesAvail{
    display: flex;
    font-size: small;
   
}


.classesAvail ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.classesAvail ul li{
    padding: 5px;
    margin: 2px;
    text-align: center;
    justify-content: center;
}


.timeComponent{
    display: flex;
   gap: 100px;
   padding: 20px;
   
}
.timeComponent >* >*{
    padding: 10px;
}

.price_componentR{
    text-align: center;
}

.departure_time_compR{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;

}

.arrival_time_compR{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    justify-content: center;
    align-items: center;


}


.buttonSelectionsR{
    display: flex;
    justify-content: center;
    align-items: center;

}

.bookButtonR{
    background-color: #529bdf;
    color:white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}


.notifybuttonR{
     background-color: #529bdf;
    color:white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

