



.Rail_variables{
   
    
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    
    
    
    
    
    align-items: center;
    
}



.search_comp{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 5px 5px 30px 10px rgb(163, 163, 163);
    border-radius: 20px;
 
}


.Origin_comp{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    text-align: center;
    gap: 20px;


}



.Destination_comp{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    text-align: center;
    gap: 20px;

}
.Date_comp{
 display: flex;
    align-items: center;
    justify-content: space-around;
     justify-content: center;
     gap:10px;
    padding: 20px;
}

.Passenger_comp{
     display: flex;
    align-items: center;
    justify-content: space-around;
     justify-content: center;
     gap:10px;
    padding: 20px;

}
.search_comp_button{
    display: flex;
    width: 100px;
    padding: 10px;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
}
.search_comp_button button{
    padding: 10px;
      background-color: #03045E; 
    color:#CAF0F8;
    border: none;
    border-radius: 20px;
    font-size: large;
}



.search_comp label{
    font-size: x-small;
    color: rgb(141, 140, 140);
    
}

.search_comp h3{
    text-align: center;
    padding: 30px;
    background-color: #03045E; 
    color: #CAF0F8;
    border-radius: 20px;
}


.Rail_variables input{
    padding: 20px;
    border: 2px solid#0077B6 ;
  
    border-radius: 20px;
    outline: none;
}



.Rail_variables input:hover{
    
    border: 2px solid #a5a6a7 ;
    
  
   
}
.Rail_variables input:focus{
    
    border: 3px solid #326ff3 ;
  
   
}


@media screen and (min-width: 375px) and (max-width: 600px) {


 .Rail_variables{
   
    
   flex-direction: column;
    
}


.Date_comp{

 flex-direction: column;
}


.Passenger_comp{
 flex-direction: column;
}


.search_comp{
   width: 80%;
   
 
}
}